.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: 0;
    z-index: 100;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0; }
.modal.open {
    visibility: visible;
    opacity: 1; }
.modal .modal-dialog {
    position: relative;
    width: auto;
    min-width: 300px; }
.modal .modal-dialog .modal-content {
    margin: 30px;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border-radius: 2px;
    outline: 0;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
.modal .modal-dialog .modal-header {
    min-height: 20px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5; }
.modal .modal-dialog .modal-header .modal-title {
    margin: 0;
    line-height: 1;
    font-size: 22px; }
.modal .modal-dialog .modal-header button.close {
    margin-top: -2px;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    outline: 0;
    float: right;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2; }
.modal .modal-dialog .modal-header button.close:hover {
    opacity: .7; }
.modal .modal-dialog .modal-body {
    position: relative;
    padding: 15px 30px; }
.modal .modal-dialog .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5; }
.modal .modal-dialog .modal-footer button#btnCloseModal, .modal .modal-dialog .modal-footer button#btnConfirmModal {
    border: none;
    cursor: pointer;
    background: transparent;
    color: #404040;
    opacity: 0.5; }
.modal .modal-dialog .modal-footer button#btnCloseModal:hover, .modal .modal-dialog .modal-footer button#btnConfirmModal:hover {
    opacity: 1; }

@media (min-width: 768px) {
    .modal-small .modal-dialog .modal-content {
        width: 300px;
        margin: 30px auto; }
    .modal-large .modal-dialog .modal-content {
        width: 700px;
        margin: 30px auto; } }

@media (min-width: 992px) {
    .modal-large .modal-dialog .modal-content {
        width: 900px;
        margin: 30px auto; } }

/*vertical align*/
#modal {
    vertical-align: middle;
    display: table;
    position: absolute;
    width: 100%;
    height: 100%; }
#modal .modal-dialog {
    display: table-cell;
    vertical-align: middle;
}

.openModal{
    overflow: hidden;
}

.modal-body{
    overflow: auto;
    max-height: 350px;
}

#modalClose{
    height: auto;
    border: none;
    box-shadow: none;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    z-index: -1;
}

.button.btnConhecer{
    background-color: #E46666;
}
.button.btnConhecer:hover, .button.btnConhecer:active, .button.btnConhecer:focus{
    background-color: rgba(228, 102, 102, 0.88);
}

#header header h1{
    display: inline-block;
}

#header header p{
    font-weight: 300;
}

#header header .logo-icon{
    width: 75px;
    height: 75px;
    vertical-align: top;
    margin-top: -15px;
    animation: 1.5s shake 1s cubic-bezier(.36,.07,.19,.97) infinite;
    /*transform: translate3d(0, 0, 0);*/
    /*transform: rotate(-45deg);*/
}

@keyframes shake {
    0%{
        transform: scale(1) rotate(0deg);
    }
    25%{
        transform: scale(1.05) rotate(-5deg);
    }
    75%{
        transform: scale(1.05) rotate(5deg);
    }
    100%{
        transform: scale(1) rotate(0deg);
    }
}

.wrap-table .wrap-item-image{
    width: 100px;
    height: auto;
}

.wrap-table .wrap-select{
    opacity: 1;
    -moz-appearance: normal;
    -webkit-appearance: normal;
    -ms-appearance: normal;
    appearance: normal;
}

.wrap-table td{
    vertical-align: middle;
}

.wrap-table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.table-responsive{
    width: 100%;
    overflow-y: hidden;
    min-height: .01%;
    overflow-x: auto;
}

table tbody tr:nth-child(2n + 1){
    background-color: transparent;
}
table tr.selected-item{
    background-color: rgba(144, 144, 144, 0.075);
}

.small-font{
    font-size: 14px;
}

.wrap-name-description p{
    margin-bottom: 0;
}